
<table class="table table-condensed table-striped tablesorter {sortlist: [[0,0]]}">
  <thead>
  <tr>
    <th>Name</th>
    <th>File</th>
    <th class="links {sorter: false}"></th>
  </tr>
  </thead>
  <tbody>
  <% @providers.each do |provider| %>
      <tr>
        <td><%= link_to provider.name, provider_path(provider) %></td>
        <td><%= provider.file %></td>
        <td class="links">
          <%= render "common/links", :obj => provider, :edit => edit_provider_path(provider) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

