
<table class="table table-condensed table-bordered fields-horizontal">
  <tr>
    <th>Name</th>
    <td><%= @provider.name %></td>
  </tr>
  <tr>
    <th>File</th>
    <td><%= @provider.file %></td>
  </tr>

</table>

<pre><%= @provider.data.to_yaml %></pre>