<% if balancers && balancers.count > 0 %>
    <h4>Balancers</h4>

    <table class="table table-condensed  table-striped table-hover tablesorter {sortlist: [[0,0]]}">
      <thead>
      <tr>
        <th>Name</th>
        <th>Environment</th>
        <th class="links {sorter: false}"></th>
      </tr>
      </thead>
      <tbody>
      <%= render balancers %>
      </tbody>
    </table>
<% end %>
