<% content_for :subnav_buttons do %>
    <a data-model="computes" data-options="type=general" class="mdo-dialog btn btn-primary" title="Create New Compute">create</a>
<% end %>

<%= render "computes/list", computes: @computes %>
