<% if listeners && listeners.count > 0 %>
    <h4>Listeners</h4>

    <table class="table table-condensed  table-striped table-hover tablesorter {sortlist: [[2,0]]}">
      <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Cert</th>
        <th class="links {sorter: false}"></th>
      </tr>
      </thead>
      <tbody>
      <% listeners.each do |listener| %>
        <%= render listener %>
      <% end %>
      </tbody>
    </table>
<% end %>
