<% if records && records.count > 0 %>
    <h4>Records</h4>

    <table class="table table-condensed table-striped tablesorter {sortlist: [[2,0]]}">
  <thead>
  <tr>
    <th>Type</th>
    <th>Ttl</th>
    <th>Name</th>
    <th>Values</th>
    <th class="links {sorter: false}"></th>
  </tr>
  </thead>
  <tbody>
  <% records.each do |record| %>
    <%= render record %>
  <% end %>
  </tbody>
</table>
<% end %>
