<% content_for :subnav_pills do %>
    <% if session[:org] %>
    <li><%= (o = Organization.named(session[:org])) ? link_to(o.mystro_zone, "#") : nil %></li>
    <% end %>
<% end %>
<% content_for :subnav_buttons do %>
    <a id="create_record" href="#" class="btn btn-primary" title="Create New DNS Record">create</a>
<% end %>

<%= render "records/list", records: @records %>

<%
   a = Organization.named(session[:org])
   record = Record.new(organization: a)
   record.zone = Zone.named(a.mystro_zone) if a
%>
<%= render "records/dialog", record: record %>
