<% if environments && environments.count > 0 %>
    <h4>Environments</h4>

    <table class="table table-condensed table-striped tablesorter {sortlist: [[0,0]]}">
      <thead>
      <tr>
        <th>Name</th>
        <th>Computes</th>
        <th>Balancers</th>
        <th>Records</th>
        <th>Template</th>
        <th>Protected</th>
        <th class="links {sorter: false}"></th>
      </tr>
      </thead>
      <tbody>
      <% environments.each do |environment| %>
        <%= render environment %>
      <% end %>
      </tbody>
    </table>
<% end %>
