<% content_for :subnav_buttons do %>
    <a id="create_environment" href="#" class="btn btn-primary">create</a>
<% end %>

<%= render "environments/list", environments: @environments %>

<% env = Environment.new %>
<%= render "environments/dialog", env: env %>

<script type="text/javascript">
    $(function () {
        $(".environment_refresh").on("click", function(){
            var id = $(this).attr("data-id");
            console.log("environment "+id+" sending refresh");
            $.post("/environments/"+id+"/refresh.json", {}, function(){
                console.log("refresh sent");
            });
        });
    });
</script>
