<% if log && log.count > 0 %>
    <div class="well log">
      <table>
        <% log.each do |h| %>
            <%
               c = case h["severity"]
                        when :warn then "text-warning"
                        when :error then "text-error"
                        else ""
                   end
            %>
            <tr class="<%= c %>">
              <td class="logline severity"><%= h["severity"].to_s.upcase %></td>
              <td class="logline message"><%= h["message"] %></td>
            </tr>
        <% end %>
        <% if trace && trace.count > 0 %>
            <tr class="text-error">
              <td class="logline severity">TRACE</td>
              <td class="logline message"><%= trace.join("<br>\n") %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>