<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span id="qujo_status">Qujo</span> <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li>
    <%= link_to qujo.jobs_path, title: "manage jobs" do %>
        <span id="jobs_status" title="active jobs" class="badge">?</span> Manage Jobs
    <% end %>
  </li>
  <li>
    <%= link_to qujo.resque_jobs_path, title: "manage resque" do %>
        <span id="resque_status" title="resque workers" class="badge">?</span> Manage Resque
    <% end %>
  </li>
  <li class="divider"></li>
  <% (%w{Jobs::Cloud::Update Jobs::Chef::Roles}+Mystro::Plugin.jobs).each do |k| %>
      <li>
        <%= link_to "#", class: "create_job", klass: k do %>
            Run <%= k %>
        <% end %>
      </li>
  <% end %>
</ul>
