
<table class="table table-condensed table-striped tablesorter {sortlist: [[0,0]]}">
  <thead>
  <tr>
    <th>Name</th>
    <th>File</th>
    <th>Enabled</th>
    <th class="links {sorter: false}"></th>
  </tr>
  </thead>
  <tbody>
  <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.name, account_path(account) %></td>
        <td><%= account.file %></td>
        <td><%= account.enabled %></td>
        <td class="links">
          <%= render "common/links", :obj => account, :edit => edit_account_path(account) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

