
<table class="table table-condensed table-bordered fields-horizontal">
  <tr>
    <th>Name</th>
    <td><%= @account.name %></td>
  </tr>
  <tr>
    <th>File</th>
    <td><%= @account.file %></td>
  </tr>
  <tr>
    <th>Enabled</th>
    <td><%= @account.enabled %></td>
  </tr>

</table>

<pre><%= @account.data.to_yaml %></pre>